



<form  method="post">
    <input type="submit" value="Hazr">
</form>
   
      <section id="flat" class="container2 flat-order endpage">

            <!-- ------RENDER--BODY------- -->
<div class="succes" style="background: rgb(240,240,240);">
    <h1>UGURLA KECDINIZ<i class="fa-solid fa-check"></i></h1>
<h1>Neticeniz : @ViewBag.Eleps saniye</h1>
    <div class="duyme">
        <a href="../../">
        <button  class="custom-btn btn-12"><span>Click!</span><span><i class="fa-solid fa-house"></i> HOME</span></button>

        </a>

    </div>



</div>

</div>

    </section>