<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap ile Kutular</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* İsteğe bağlı özel stiller buraya eklenebilir */
    </style>
</head>
<body>

<h1 class="m-r-5"> Admin Panel - Sayt daxili idare isleri</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 col-md-3  qutu ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Suallari Deys</h5>
                        <a href="/dashboard/works/actques" class="btn btn-primary">Kecid</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3  qutu ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bildiris gonder</h5>
                        <a href="/dashboard/works/alert" class="btn btn-primary">Kecid</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3  qutu ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Oyun Nomreleri</h5>
                        <a href="/dashboard/works/parametr" class="btn btn-primary">Kecid</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3  qutu ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pasport data</h5>
                        <a href="/dashboard/works/pasport" class="btn btn-primary">Kecid</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<style>
    .qutu{
        width: 30%;
        height: 30%;
    }
</style>
</html>
