
<div class="container">

       <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @* <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> *@
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Nomreleri daxil ederken, ara vermeden, vergul(,) ile ayirin!</h1>
                    </div>
                    <form method="post" class="user">
                        <div class="form-group row">
                        
                        
                        </div>
                        <div class="form-group">
                            <input name="binaNomresi" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Bina Nomresi. Ornek (12,14,23,27) ">
                        </div>
                        <div class="form-group">
                            <input name="girisNomresi" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Giris Nomresi. Ornek (12,14,23,27)">
                        </div>
                          <div class="form-group">
                            <input name="mertNomresi" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Mertebe Nomresi. Ornek (1,2,3,4,5,6,7,8,9)">
                        </div>
                           <div class="form-group">
                            <input name="menNomresi" type="text" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Bina Nomresi. Ornek (1,2,3,4)">
                        </div>
                        <input type="submit" value="Update Data"  class="btn btn-primary btn-user btn-block">
                        <hr>
                       
                    </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>

    </div>